*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url(../images/header_bg.png);
    background-position: top left ,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.logo h2{
    font-size: ;
}
nav{
    width: 74%;
    max-width: 1140px;
    /* border: red solid 1px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: 474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
     font-size: 45px;
     font-weight: 600px;
     color: #474747;
     margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold; 
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;  
    margin-bottom: 30px;  
} 

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
